{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1>Profile Details</h1>

<div class="card">
    <div class="card-content">
            <spam class="card-title">{{ profile.name }}</span>
            <p>Age: {{ profile.age }}</p>
            <p>Description: {{ profile.description|linebreaks }}</p>
        <div class="card-action">
            <a href="{% url 'profiles_update' profile.id %}">Edit</a>
            <a href="{% url 'profiles_delete' profile.id %}">Delete</a>
        </div>
    </div>
</div>

<hr>
    <div class="row">
        <div class="col s6">
        <h3>{{ profile.name }}'s Frens !</h3>
            {% if profile.fren.count %}
            {% for fr in profile.fren.all %}
            <div class="card">
                <div class="card-content">
                    <span class="card-title">
                        <span style="color: {{ fr.most_favorite_color }}"><strong>{{ fr.nickname }}</strong></span>
                        <p>We first met: {{ fr.first_met }}</p>
                        <p>My favorite thing about them is: {{ fr.favorite_thing }}</p>
                        <p>Are you two... Super frens?!:</p> <h3 style="color: {{ fr.most_favorite_color }}">{{ fr.super_fren_status|yesno:'Hells yeah!,no way !!' }}</h3>
                    </span>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <h5>No frens :( </h5>
            <div class="card">
                <div class="card-content">
                    <a href="{% url 'frens_create' %}" id="add-fren-link">Add a Fren!</a>
                </div>
            </div>
            {% endif %}
        </div>
        <!-- Available frens will come after this line -->
        <div class="col s6">
            <h3>Available frens !!</h3>
            {% if frens.count %}
            {% for fren in frens.all %}
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">
                            <span style="color: {{ fren.most_favorite_color }}"><strong>{{ fren.nickname }}</strong></span>
                        </span>
                    </div>
                    <div class="card-action">
                    <form action="{% url 'request_fren' profile.id fren.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn">add fren</button>
                    </form>
                    </div>
                </div>
            {% endfor %}
            {% else %}
                <h5>{{profile.name}} Already Has All frens Available</h5>
            {% endif %}
        </div>
    </div>

    <div class="col s6">
        <form action="{% url 'add_theme' profile.id %}" method="post">
            {% csrf_token %}
            {{ theme_form.as_p }}
            <input type="submit" class="btn" value="Add Theme">
        </form>

        <table class="striped">
            <thead>
                <tr><th>Name</th><th>Description</th><th>Favorite Thing</th></tr>
            </thead>
            <tbody>
            {% for theme in profile.theme_set.all %}
                <tr>
                    <td style="color: {{ theme.favorite_color }}">{{theme.name}}</td>
                    <td style="color: {{ theme.favorite_color }}">{{theme.description}}</td>
                    <td style="color: {{ theme.favorite_color }}">{{theme.favorite_thing}}</td>
                </tr>
                <tr>
                    <td><img src="{{ theme.upload }}" alt="vsCode Color Theme"></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

<script>
    const dateEl = document.getElementById('id_first_met');
    M.Datepicker.init(dateEl, {
        format: 'yyyy-mm-dd',
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
    });
</script>

{% endblock %}
