{% extends 'base.html' %}
{% block content %}

<h1>Fren Details! =D</h1>

<div class="card">
    <div class="card-content">
        <spam class="card-title" style="color: {{ fren.most_favorite_color }}">'{{ fren.nickname}}'</span>
        <p style="color: {{ fren.most_favorite_color }}">Most Favorite Color: {{ fren.most_favorite_color }}</p>
        <p>Description: {{ fren.description|linebreaks }}</p>
        <p>First Met: {{ fren.first_met }}</p>
        <p>Favorite Trait: {{ fren.favorite_thing }}</p>
    </div>
    <div class="card-action">
        <a href="{% url 'frens_update' fren.id %}">Edit</a>
        <a href="{% url 'frens_delete' fren.id %}">Delete</a>
    </div>
</div>

<script>
    const dateEl = document.getElementById('id_first_met');
    M.Datepicker.init(dateEl, {
        format: 'yyyy-mm-dd',
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
    });
</script>

{% endblock %}
